@using User_Dashboard.Models
@model List<User>
<div class="dashboardadmin">
    <div class="title">
        <h2>Manage Users</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name^
                </th>
                <th>
                    Email
                </th>
                <th>
                    Created_at
                </th>
                <th>
                    User level
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (User userresult in @Model)
            {
                <tr>
                    <td>@userresult.Id</td>
                    <td>
                        <a asp-action="Show" asp-controller="User" asp-route-id="@userresult.Id">
                            @userresult.Name
                        </a>
                    </td>
                    <td>@userresult.Email</td>
                    <td>@userresult.CreatedAt</td>
                    <td>@userresult.UserLevel.Name</td>
                </tr>
            }

        </tbody>

    </table>
</div>